@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: rgb(58, 73, 185);
    width: 100vw;
    padding: 32px;
    font-family: "Alfa Slab One", serif;
}

li{
    display: inline;
}

a{
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin: 18px;
}


.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}

input{
    display: block;
    padding: 23px;
    margin: 20px;
    border-radius: 50px;
    width: 400px;
    outline: none;
}

.container-2 h1{
    font-size: 50px;
    font-family: "Alfa Slab One", serif;
    font-weight: 300;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 23px;
    width: 400px;
    border-radius: 50px;
    background-color: rgb(94, 108, 220);
    outline: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(148, 159, 245);
}

